# Ignore Mac system files
.DS_store
.idea/

# Ignore files related to API keys
/config/.env

# Ignore all pytest_cache directories
**/.pytest_cache

# Alembic - I think I don't want to store the migrations in the repo for now
alembic.ini
alembic/